<%- include('header') -%>

<h1>Undirskriftarlisti — umsjón</h1>
<p class="user-logged"> Innskráður sem: <strong><%= username %></strong> </p>
<a href="/logout">Útskrá</a>

<%- include('list') -%>

<%- include('footer') -%>